{% extends 'solarsprint/base.html' %}
{% load static %}

{% block content %}

    <div class="jumbotron" >
        <h1 style="font-family: press_start;">About and Credits</h1>
        <h2 style="font-family: press_start;">ABOUT</h2>
        <p>I made this project for MLH's Jan 2021 Hackathon, Snakes and Hackers. This was the biggest project that I've taken up ever and I'm proud of how it turned out to be.</p>
        <p>There is still a lot of scope for improvement and I know what all I could've done better.</p>
        <p>For any fellow developers lurking here, I've listed the resources I consulted so that you can benefit from them.</p>

        <h2 style="font-family: press_start;">ARTWORK</h2>
        <p>I have tried to give credits to all the artists whose work I've used in this project to the best of my knowledge.</p>
        <p>Almost all the sprites are taken from one of the free and open-sourced websites: <a class="navbar-link" href="https://opengameart.org/">OpenGameArt</a> or <a class="navbar-link" href="https://www.kenney.nl/">Kenny</a></p>
        <ul>
            <li>Sprites and Game Elements in Prithvia: <a class="navbar-link" href="https://www.kenney.nl/">Kenny</a> </li>
            <li>Sprites and Game Elements in Galnerth: <a class="navbar-link" href="https://www.kenney.nl/">Kenny</a> </li>
            <li>Sprites and Game Elements in Nirus: <a class="navbar-link" href="https://opengameart.org/content/cyberpunk-street-environment">ansimuz</a> </li>
            <li>All the Planets: <a class="navbar-link" href="https://opengameart.org/content/colorful-planets">Renderwahn</a> </li>
            <li>The Sun: <a class="navbar-link" href="https://opengameart.org/content/the-sun">NASA</a> </li>
            <li>Kashmire Sprite: <a class="navbar-link" href="https://opengameart.org/users/merry-dream-games">Merry Dream Games</a> </li>
            <li>Kagi Sprite: <a class="navbar-link" href="https://opengameart.org/users/merry-dream-games">Merry Dream Games</a> </li>
            <li>Minimare Sprite: <a class="navbar-link" href="https://opengameart.org/content/aruthon-monster">TKZ Productions</a> </li>
            <li>The website icon and logo was made by me using <a class="navbar-link" href="https://bomomo.com/">Bobomomo</a> </li>
            <li>The website background is from: <a class="navbar-link" href="https://bomomo.com/">Bobomomo</a> </li>
            <li>The website background is from: <a class="navbar-link" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/686209a2-3a32-43ae-90cf-5a368dd14e2d/ddmcrvu-b7d58c23-191c-49b1-947c-1091667e5766.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjg2MjA5YTItM2EzMi00M2FlLTkwY2YtNWEzNjhkZDE0ZTJkXC9kZG1jcnZ1LWI3ZDU4YzIzLTE5MWMtNDliMS05NDdjLTEwOTE2NjdlNTc2Ni5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.nrp8QHn0t0iK8eVyqY9r0vj--UVATwbXXyppSR4jsfo">here</a> </li>
            <li>This <a class="navbar-link" href="https://ezgif.com/">website was helpful for sprite-sheet cutting and gif-making.</a> </li>
            <li>I have used the <a class="navbar-link" href="https://www.dafont.com/press-start.font">Press Start font</a> throughout the website.</li>
        </ul>
        <h2 style="font-family: press_start;">RESOURCES</h2>
        <ul>
            <li><a class="navbar-link" href="https://stackoverflow.com/">StackOverflow</a> is an amazing resource and helped me out of a few tight spots.</li>
            <li><a class="navbar-link" href="https://docs.djangoproject.com/en/3.1/">Django's Documentation</a> is very detailed and helpful for those who want to build using the platform.</li>
            <li><a class="navbar-link" href="http://blog.sklambert.com/html5-game-tutorial-module-pattern/">These</a> tutorials helped me a lot during this project.</li>



    </div>


{% endblock %}