{% extends "solarsprint/login_base.html" %}
{% load static %}
{% block body_block %}
<div class="wrapper">
  <div class="jumbotron" style="font-family: press_start;">
    <h1 style="font-family: press_start;">Your stats!</h1>
      <p>Please note that progress will be saved only if you log into your account.</p>
    {% if user.is_authenticated %}
        <h2 style="font-family: press_start;">Hello {{ user.username }}</h2>
        <ul class="list-unstyled components mb-5">
            <li>Total Games Played: 39</li>
            <li>Longest Run: 511 m</li>
         <li class="active">
             <a href="#planetList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Planetary Statistics</a>
             <ul class="collapse list-unstyled" id="planetList">

                 <li>
                    Prithvia
                     <ul><li>Total games played: 24</li><li>High Score : 511 m</li></ul>
                 </li>

                 <li>
                    Galnerth
                     <ul><li>Total games played: 11</li><li>High Score : 136 m</li></ul>
                 </li>

                 <li>
                     Nirus
                     <ul><li>Total games played: 4</li><li>High Score : 92 m</li></ul>
                 </li>

             </ul>

        </li>
        </ul>
    {% else %}
        <p>Your stats will show up here when you log in.</p>
    {% endif %}
  </div>
</div>
{% endblock %}