{% extends 'solarsprint/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/website/explore.css' %}">
<h4 style="font-family: press_start; color: #fff5c4;">Explore Sprinters</h4>
<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/sprinters/Bilbo1.gif" alt="Bilbo" width="600" height="400">
  </a>
  <div class="desc">Bilbo: Adventurer, Hails from Prithvia</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/sprinters/Kagi.gif" alt="Kagi" width="600" height="400">
  </a>
  <div class="desc">Kagi: Knight, Hails from Galnerth.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/sprinters/Minimare.gif" alt="Minimare" width="600" height="400">
  </a>
  <div class="desc">Minimare: Scholar, Hails from Nirus.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/sprinters/Kashmire.gif" alt="Kashmire" width="600" height="400">
  </a>
  <div class="desc">Kashmire: Gemsmith, Hails from Reef.</div>
</div>



{% endblock %}