{% extends 'solarsprint/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/website/explore.css' %}">
<h4 style="font-family: press_start; color: #fff5c4;">Explore Planets</h4>
<div class="gallery">
  <a target="_blank" href="/play/prithvia">
    <img src="/static/images/planets/prithvia.png" alt="Prithvia" >
  </a>
  <div class="desc">Prithvia: Is the closest to the sun.</div>
</div>

<div class="gallery">
  <a target="_blank" href="/play/galnerth">
    <img src="/static/images/planets/galnerth.png" alt="Galnerth" width="600" height="400">
  </a>
  <div class="desc">Galnerth: Second from the Sun.</div>
</div>

<div class="gallery">
  <a target="_blank" href="/play/nirus">
    <img src="/static/images/planets/nirus.png" alt="Nirus" width="600" height="400">
  </a>
  <div class="desc">Nirus: Is the third from the Sun.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/planets/Reef.png" alt="Reef" width="600" height="400">
  </a>
  <div class="desc">Reef: Fourth from the sun.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/planets/noxanope.png" alt="Noxanope" width="600" height="400">
  </a>
  <div class="desc">Noxenope: Is Nirus's biggest moon.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/planets/Halberd.png" alt="Halberd" width="600" height="400">
  </a>
  <div class="desc">Halberd is Prithvia's moon.</div>
</div>

<div class="gallery">
  <a target="_blank" href="#">
    <img src="/static/images/planets/zimity.png" alt="Zimity" >
  </a>
  <div class="desc">Zimity is Galnerth's moon.</div>
</div>

{% endblock %}