{% extends 'solarsprint/base.html' %}
{% load static %}

{% block content %}
    <div  style="font-family: press_start;">
    <div class="wrapper">
        <h4 style="font-family: press_start; color: #fff5c4;"><span style="background-color:black">Sprint your way through the Planetary System of Solas!<span></h4>
        <a href="/play/prithvia" class="item">
            <img src="/static/images/planets/prithvia.png" alt="prithvia" title="Prithvia">
        </a>
        <img src="/static/images/planets/sun1.png" alt="sun" title="The Sun">
        <a href="/play/galnerth" class="item">
            <img src="/static/images/planets/galnerth.png" alt="galnerth" title="Galnerth">
        </a>
        <a href="/play/nirus" class="item">
            <img src="/static/images/planets/nirus.png" alt="nirus" title="Nirus">
        </a>
    </div>
    </div>
    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/game/intro.js' %}"></script>
    {% endblock %}
{% endblock %}
