{% extends 'solarsprint/base.html' %}

{% block content %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
            {% if user.is_authenticated %}
          <li><a class="navbar-brand" href="{% url 'account_details' %}">You have logged in successfully!</a></li>
            {% else %}
            <li><a class="navbar-brand" href="{% url 'account_details' %}">Log-in to save your progress!</a></li>
            {% endif %}
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'solarsprint:register' %}">Register</a></li>
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'solarsprint:user_login' %}">Login</a></li>
          {% endif %}
</ul>
      </div>
    </nav>
    <div class="wrapper" style="font-family: press_start">
    {% block body_block %}
    {% endblock %}
    </div>
{% endblock %}