{% extends 'solarsprint/base.html' %}
{% load static %}

{% block content %}
    <div  style="font-family: press_start;">
    <div class="wrapper">
        <canvas id="canvas" width="800" height="480">
            <p>Your browser doesn't support the required functionality to play.</p>
            <p>Please update to a modern browser such as <a href="www.google.com/chrome/">Google Chrome</a>to play.</p>
        </canvas>
        <div id="game-over">
      <a href="javascript:void(0);" class="restart" id="restart">Try again? {{ planet.high_score }}</a>
    </div>
    </div>
    </div>

    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/game/solarsprint1.js' %}"></script>
    {% endblock %}
{% endblock %}