{% extends "solarsprint/login_base.html" %}
{% load static %}
{% block body_block %}
    <div class="jumbotron" >
      {% if registered %}
        <h1 sytle="font-family: press_start;">Thank you for registering!</h1>
      {% else %}
        <h1 style="font-family: press_start; text-align: center;">Register Here</h1>
        <div class="container" >
<form enctype="multipart/form-data" method="POST" style="font-family: press_start;">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
            </div>

      {% endif %}
    </div>
{% endblock %}